body {
background-color: White;
 }





.image {
  border: 6px black dotted;
  padding: 5px 1px;
  margin: 10px 1px;
}

.profile-pic {
  border: 6px
  padding:
  margin:
}

.Bayern:hover {
border: 6px green solid;
}